table {
    width: 100%;
}
.table thead td, .table thead th {
    width: 1%;
    font-size: 16px;
} 
.table tbody td, .table tbody th {
    width: 1%;
    font-size: 15px;
} 
.btn-container {
    display: flex;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.select-width{
    width:15% !important;
    margin-left: 10px;
    margin-top: 6px;
}